@mixin displayFlex($FirstParameter, $SecondParameter, $ThirdParameter, $FourthParameter){
    width: $FirstParameter;
    height: $SecondParameter;
    display: flex;
    flex-direction: $ThirdParameter;
    justify-content: $FourthParameter;
}